
body{
    background-color:  hsl(30, 38%, 92%);
}
#Tudo{
    display: flex;
    align-items: flex-start;
    width: 60%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px black solid;
    & #imge{
        height: auto;
        width: 50%;
        margin: 0px;
        padding: 0px;
            & img{
                width: auto;
                height: auto;
                margin: 0px;
                padding: 0px;
            }
    } 
}

#preco{
    border: 0;    
}

#desc{
    border: 0;    
}